
.nav-shadow{
    box-shadow: 0px 2px 2px 0px #762493;
    opacity: 1;
}




.navbar li a{
    position: relative;
    
}

.navbar li a::after{
    content: '';
    
    
    display: block;
    width: 0%;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: 1;
    left: 0;
    transition: 600ms;
    
    
}

.navbar li a:hover::after{
    width: 100%;
}

.navbar li a::before{
    content: '';
    
    

    display: block;
    width: 0%;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 1;
    right: 0;
    transition: 600ms;
    
    
}

.navbar li a:hover::before{
    width: 100%;
}

.navMenuRods{
    height: 2px;
    width: 30px;
    display: block;
    background-color: #edebd0;
    margin: 5px;
    transition: 1s;
   
    
}

/* .navMenu.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.navMenu.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.navMenu.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
} */
.navMenu{
    opacity: 0;
}




@media(max-width:900px){

    .navbar ul{
        transform: translateX(2vw) translateY(12vh);
        display: grid;
        opacity: 0;
        gap: 0;
        align-content: center;
        justify-content: center;
        background-color: #100d0e;
        border-radius: 10px;
        padding: 20px;
        transition: 600ms;
        box-shadow:inset #1c1619;
        
    }

    .navbar ul a {
        color: #edebd0;
    }

    .navMenu{
        opacity: 1;
        transition: 1s;
        cursor: pointer;
    }

    

    .rod--01{
        transform: scale(0.7);
        border-radius: 50px;
        transform: rotate(30deg);
        transition: 1s;
        
    }
    .rod--02{
        transform: scale(0.7);
        border-radius: 50px;
        transform: rotate(30deg);
        width: 55%;
        transition: 1s;
        
    }
    .rod--03{
        transform: scale(0.7);
        border-radius: 50px;
        transform: rotate(30deg);
        width: 35%;
        transition: 1s;

        
    }
}

/* transform: translateX(-1vw) translateY(12vh); */


