.ProjectsSectionContainer{
    background-image: url("/assets/ProjectsSection/bgImage.jpg");
    background-size: cover;
    background-position: center;
    
    
}


@media(max-width:450px) {
        .ProjectsSectionContainer{
            background-color: blue;
            color: blue;
            
        }
}

/* .gallery::-webkit-scrollbar{ */
    /* display:none;
} */

.gallery{
    
}

.gallery::-webkit-scrollbar {
    width: 2px;
    height: 10px;
    
  }


.gallery::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 50px;
  }
  
  .gallery::-webkit-scrollbar-thumb {
    background-color: rgb(81, 2, 81);
    border-radius: 50px;
  }


