.ProjectsSectionContainer{
    background-image: url("/assets/ProjectsSection/bgImage.jpg");
    background-size: cover;
    background-position: center;
    
    
}


@media(max-width:450px) {
        .ProjectsSectionContainer{
            background-color: blue;
            color: blue;
            
        }
}


