@tailwind base;
@tailwind components;
@tailwind utilities;



/* body{
  background-color: black;
} */

@font-face {
  font-family: 'Iceland';
  src: url('src/assets/fonts/Iceland-Regular.ttf') format('truetype');
}